.card {
  background-color: #f0f0f0;
  margin: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  text-align: left;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.3s;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 1px 2px 2px 2px grey;
  }

  &__h1 {
    margin-left: 1rem;

    font-size: 1.4rem;
  }

  &__anchor {
    font-size: 1.2rem;

    font-weight: 500;

    &:hover {
      color: orangered;
    }
  }

  &__h4 {
    margin-right: 1rem;

    font-size: 1.2rem;
  }

  &__points {
    text-align: left;
    margin-left: 1rem;
    margin-top: 0;

    color: grey;
  }

  &__upArrow {
    color: black;

    font-size: 1.3rem;
    // margin-top: -7px;
  }
}
